# Created by .ignore support plugin (hsz.mobi)

/tmp/
/main.py
/old_accessions.py
/index.html
/ghostdriver.log
/settings/local.py
/settings/test.py
/settings/bashrc
/settings/base.py
/ae_web/ae_web/settings/base.py
/ae_web/ae_web/settings/local.py
/ae_web/ae_web/settings/test.py
/.idea/