<div class="footer-container">
    <!--
        <div class="language-icons-container">
            <span ng-class="{'active': $translate.use() === 'ar_EG'}" ng-click="setLang('ar_EG')"> Arabic </span>
            <span> | </span>
            <span ng-class="{'active': $translate.use() === 'en_US'}" ng-click="setLang('en_US')"> English </span>
            <span> | </span>
            <span ng-class="{'active': $translate.use() === 'fr_FR'}" ng-click="setLang('fr_FR')"> French </span>
        </div>
     -->
</div>
